body {
  background: ccc;
}

.carousel {
  width: 200%;
  margin: 0 auto;
  margin-top: 50px;
  perspective: 6000px;
  transform-style: preserve-3d;
}

.card {
  border: 1px solid #fff;
  background: none;
  border-radius: 10px;
  overflow: hidden;
  width: 384px;
  height: 384px;
  /* transform: rotateY(calc(var(--offset) * 30deg)) scaleY(calc(1 + var(--abs-offset) * 0))
    translateZ(calc(var(--abs-offset) * -50rem)) translateX(calc(var(--direction) * -15rem));
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 15%)); */
}

.card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list > div {
  margin: 0 10px;
}
