.tab {
    float: left;
    padding: 10px;
    width: 27vw;
    min-width: 300px;
    height: 100%;

}
.dlatl {
    float: right;
    width: calc(100% - 562px);
    height: 500px;
    background-color: #61dafb;
}
.open {
    background-image: url("icons/filter.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.CardPlace {
    overflow: auto;
    float: left;
    padding: 10px;
    width: 27vw;

    height: 850px;
}
.o {
    overflow:hidden;
}