.section {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 62.5vw;
  z-index: 1;
  position: relative;
}
.categorie {
  margin-top: 3.125vw;
  margin-bottom: 1.041666666666667vw;
  width: 192px;
  height: 46px;

  border: 2px solid #77aefc;
  border-radius: 30px;

  line-height: 46px;
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #77aefc;
}
.title {
  word-break: break-word;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  font-family: 'Pretendard Variable';
  width: 62.5vw;
  align-items: center;
  color: #222222;
  margin-bottom: 1.458333333333333vw;
}

.subtitle {
  font-family: 'Pretendard Variable';
  font-weight: 700;
  font-size: 28px;
  color: #77aefc;
  margin-bottom: 24px;
  margin-top: 12px;
}

.images {
  margin-bottom: 1.927083333333333vw;
  width: 100%;
  height: 32.55208333333333vw;
}
.images img {
  object-fit: cover;
}
.img1 {
  margin-right: 1.25vw;
  width: 30.625vw;
  height: 32.55208333333333vw;
  float: left;
  border-radius: 30px;
}
.img2 {
  vertical-align: top;
  float: top;
  width: 30.625vw;
  height: 16.66666666666667vw;
  margin-bottom: 1.25vw;

  border-radius: 30px;
}
.img3 {
  height: 14.6875vw;
  width: 14.6875vw;
  margin-right: 1.25vw;
  border-radius: 30px;
}
.img4 {
  height: 14.6875vw;
  width: 14.6875vw;
  border-radius: 30px;
}

.entire {
  width: 40vw;
}
.Information {
  width: 40vw;
  font-family: 'Pretendard Variable';
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  word-break: break-word;
  color: #595959;
  margin-bottom: 24px;
}
hr {
  width: 40vw;
  float: left;
  height: 0px;
  margin: 0 0 0px;
}
.Details {
  width: 40vw;
  margin-top: 36px;
  margin-bottom: 24px;
  height: 32px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-family: 'Pretendard Variable';
  font-weight: 300;
  color: #595959;
}
.details {
  float: left;
  margin-right: 0.8854166666666667vw;
}

.d {
  margin-left: 0.8854166666666667vw;
}
.DetailEntire {
  max-width: 748px;
  width: 100%;
}
.DetailEntire::after {
  display: block;
  content: '';
  visibility: hidden;
  clear: both;
}
.detailbox {
  box-sizing: border-box;
  max-width: 360px;
  width: 100%;
  height: 180px;
  border: 2px solid #d1d1d1;
  background-color: #fff;
  /* box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.20); */
  border-radius: 10px;
  float: left;
  padding: 32px 2%;
  margin-bottom: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.detailbox::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.detailbox:nth-child(odd) {
  margin-right: 24px;
}
.detailbox::after {
  display: block;
  content: '';
  visibility: hidden;
  clear: both;
}
.detailicon {
  width: 35%;
  float: left;
  margin-right: 5%;
  display: block;
}
.detailtitle {
  font-family: 'Pretendard Variable';
  font-weight: 600;
  font-size: 14pt;
  margin-bottom: 4px;
  color: #77aefc;
}
.detailindex {
  width: 100%;
  font-family: 'Pretendard Variable';
  font-weight: 300;
  height: 100%;
  font-size: 14pt;
  font-style: normal;
  line-height: 28px;
}
.locationdetail {
  font-family: 'Pretendard Variable';
  font-weight: 300;
  color: #595959;
  line-height: 32px;
  width: 40vw;
  max-width: 40vw;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #ffffff;
}

.homepagebtn {
  display: inline-block;
  width: 336px;
  margin-left: 1.25vw;
  margin-top: 24px;
  background: #77aefc;
  border-radius: 30px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.604166666666667vw;

  text-align: center;
}
