.lb-wrap {
    width: 100%;
    align-content: center;
    display : flex;
    justify-content : center;
    align-items : center;
}

.lb-wrap img {
    width: 100%;
    vertical-align: middle;

}

.lb-text button{
    width: 384px;
    height: 80px;
    border: none;
    background-color: #77AEFC ;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 36px;
    cursor: pointer;
    margin-bottom: 15px;
}
.lb-text {
    border-radius: 30px;
    text-align: center;
    position: absolute;
    font-family: 'Yeongdo-Rg';

    padding-bottom: 100px;
    line-height: 54px;
}
.go {
    height: 13px;
    object-fit: fill;
    margin-left: 10px;
}

.oo {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #FFFFFF;
}