.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form-container{
    max-width: 384px; width: 100%;
    text-align: center;
    
}

.form-control{
    width: 98%;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    margin-bottom: 12px;
    
}

.form-group label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    
  }

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    color: #d4d4d4;
    width: 100%;
}

.ps{
    width: 100%;
    height: 48px;
    border: none;
    background-color: #d1d1d1 ;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

form{
    max-width: 384px; width: 100%;
}

h1{
    text-align: center;
}

button {
    width: 100%;
    height: 48px;
    border: none;
    background-color: #d1d1d1 ;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* //마우스 올렸을 때 */
button:hover{
    background-color: #77AEFC;
}

.loginp{
    display: inline-block; margin: 0 36% 15px 0; font-size: 16px; color: #c1c1c1;
}

.logina {
    text-decoration: none; font-size: 16px; color: #77AEFC;
}
.app form .spanDiv{
    display: flex; align-items: center; margin-bottom: 15px;
}

 .spanDiv span:nth-child(2) {
    font-size: 16px; color: #c1c1c1; margin: 0 6.25%;
}

.spanDiv .boderSpan {
    width: 28.25%;
    display: inline-block;
    border-bottom: 1px solid #c1c1c1;
  }


 .formicons{
    text-align: center;

}
 .formicons a:last-child{
    margin-left: 6.25%;
}


/* .form-group{
    width: 100%;
   
   
} */
