.mainsection {
    margin: 0 auto;
    background-color: aqua;
    width: 1200px;
    margin-top: 120px;
    height: 550px;
}
.option2 {
    width: 384px;
    height: 246px;

    margin-bottom: 239px;
    padding: 32px 0;
    float: left;


background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 20px
}
.option1 input:checked + div {

    height: 48px;

    
    border: 1px solid #77AEFC;
    border-radius: 30px;font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;

    
    color: #77AEFC;
}
.option1  div {
    padding: 0 24px;
    height: 48px;
    margin: 14px 24px;
    border: 1px solid #999999;
    border-radius: 30px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;

    
    color: #999999;
}
.right {
    float: right;
}
.statuis {
    width: 744px;   
    height: 495px;

    float: right;

    
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 24px 32px;
}