.mapForm {
  max-width: 750px;
  width: 100%;
}

.MapModalT1,
.MapModalT2,
.MapModalT3 {
  border: 1px solid #d8d8d8;
  display: inline-block;
  color: gray;
  border-radius: 30px;
  width: 23%;
  line-height: 48px;
  margin-top: 10px;
  cursor: pointer;
  background: none;
  text-align: center;
}

.MapModalT1 input:checked + div,
.MapModalT2 input:checked + div,
.MapModalT3 input:checked + div {
  border: 1px solid #77aefc;
  color: #77aefc;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
  background: none;
  text-align: center;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}


.MapModalT1:not(:last-of-type),
.MapModalT2:not(:last-of-type),
.MapModalT3:not(:last-of-type){
    margin-right: 2% ;

}



