* {
  box-sizing: border-box;
}

.carousel-a {
  position: relative;
  width: 23rem;
  height: 23rem;
  /* perspective: 500px; */
  transform-style: preserve-3d;
  text-align: center;
}
.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.5))
    translateZ(calc(var(--abs-offset) * -47rem)) translateX(calc(var(--direction) * -12rem));
  /* filter: blur(calc(var(--abs-offset) * 1rem)); */
  transition: all 0.3s ease-out;
}

.card {
  width: 100%;
  height: 100%;
  /* padding: 2rem; */
  background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
  border-radius: 1rem;
  color: #9ca3af;
  text-align: justify;
  transition: all 0.3s ease-out;
  border: 5px solid;
}
.card h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 0.7em;
  color: #1f2937;
}
.card p,
.card h2 {
  transition: all 0.3s ease-out;
  /* opacity: var(--active); */
  
}

.nav {
  color: gray;
  font-size: 2rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 109%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
}
.nav.left {
  transform: translateX(0px) translatey(-10%);
}
.nav.right {
  right: 0;
  transform: translateX(0px) translatey(-10%);
}
.slid-btn {
  width: 12%;
}
