.formInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px; color: #d4d4d4;
}

input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    margin-bottom: 12px;

}

.loginform1{
    margin-bottom: 12px;

}
.loginform2{
    margin-bottom: 20px;
}

label{
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.formInput span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

