.a {
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
}


.dlatll {
    display: flex!important;
    flex-basis: auto;
}
.logo {
    position: absolute;
    height: 37px;
    left: 40px;
    top: 32px;
}
.logot {
    position: absolute;
    width: 166px;
    height: 54px;
    left: 86px;
    top: 27px;

    font-family: 'Yeongdo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;

    color: #3F4756;
}


.menu {

    position: relative;
    text-decoration: none;
    width: 78px;
    height: 20px;
    margin-left: 360px;

    top: 42px;

    font-family: 'Pretendard';
    font-style: normal;
    font-size: 16px;

    line-height: 19px;
    letter-spacing: -0.03em;
    text-align: center;

    color: #222;
}

.loginbox {
    font-family: 'Pretendard';
    color: white;
    text-align: center;

    width: 142px;
    height: 48px;
    line-height: 50px;
    background: #77AEFC;
    border-radius: 4px;



    float: right;

    margin-right: 40px;

}


.container {
    display: flex;
    background: green;
    flex-direction: column;


    /* display: inline-flex; */
}
.item {
    background: greenyellow;

}
.sl {
    margin: 16px 16px;
    visibility: visible;

}
@media (max-width: 1200px) {
    .menu {
        display: none;
    }
}
@media (max-width: 1200px) {
    .searchimg {
        display: none;
    }
}
@media (max-width: 1200px) {
    .sl {
        display: none;
    }
}

@media (min-width: 1200px) {
    .searchbox1 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .searchbox {
        display: none;
    }
}
@media (max-width: 1200px) {
    .a {
        height: 50px;
    }
}
.suka {
    text-decoration-color: red;
}

@media (max-width: 1200px) {
    .logot {
        position: absolute;
        width: 166px;
        height: 54px;
        left: calc(50vw - 90px);


        font-family: 'Yeongdo';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 54px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.03em;

        color: #3F4756;
        top: 0px;
        margin: auto;
    }
}
@media (max-width: 1200px) {
    .logo {
        left: 4px;
        top: 10px;
    }
}
@media (min-width: 1200px) {
    .wow {
        display: none;
    }
}
@media (min-width: 1200px) {
    .wow1 {
        display: none;
    }
}
@media (max-width: 1200px) {
    .loginbox {
        display: none;
    }
}
.wow1 {
    background-image: url("icons/adultcon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-size: ;
    top: 10px;
    height: 30px;
    width: 30px;
    right: 10px;
    float: right;

}

.wow {
    position: absolute;
    background-image: url("icons/gitignore.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 10px;
    height: 30px;
    width: 30px;
    right: 5px;
    float: right;

}
.searchimg {


    height: 48px;
    max-width: 856px;
    position: static;
    margin-left : 691px;
    margin-right: 300px;


    border: 1px solid #4E7CD7;
    border-radius: 800px 800px;


}



.searchbutton {
    padding: 0 0;
    display:inline;
    position: relative;
    height: 48px;
    width: 60px;

    visibility: hidden;

}



.searchbox {
    padding: 0 0;

    flex-grow: 1;
    display:inline;

    position: relative;
    float: right;
    width:calc(100% - 60px);
    border: none;
    outline: none;
    border-radius: 800px 800px;
    height: 46px;

}
.searchbox1 {
    position: relative;
    width:100px;
    border-radius: 800px 800px;
    float: right;
    height: 46px;
    right: 5px;

}
.kkk {
    top:50px;

    right: 50px;
    position: fixed;
    left: 1680px;
    background-color: #4E7CD7;

    width: 200px;
    z-index: -;

}
.login {




    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: -0.03em;

    color: #222222;
    float: right;

    margin-right: 40px;
}
.logi {
    margin-right: 6px;
    float: right;
}